body, html {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-rows: auto auto auto;
}

img, header, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

main {
    align-items:left;
}

header {
    background-color: cornflowerblue;
    color: #fff;
    padding: 15px;
    display: flex;
}
img {
    max-width: 150px;
    max-height: auto;
    margin: 1.5rem;
    align-items: center;
}

footer {
    background-color: cornflowerblue;
    color: #fff;
    padding: 15px;
}